.project-model{
    margin-top: 30px;
}

.project-information{
    font-family: 'Lexend Peta', sans-serif;
    color: black;
    text-align: justify;
    margin-top: 5px;
}

.project-heading{
    font-family: 'Lexend Peta', sans-serif;
    color: #fc9814;
    margin-top: 10px;
}
